html{
  font-size: 1rem;;
}
.App {
  text-align: center;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: #616971;
  background-color: #f4f4f4;
}
.bg-dark{
  background-color: #34424a !important;
}
.bg-danger {
  background-color: #b2e81d !important;
}
.text-danger {
  color: #a74f86 !important;
}
.card {
  background-color: #f4f4f4 !important;
}
.pointer:hover {
  cursor: pointer !important;
}



nav {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  height: 7rem;
}
.navbarZ{
  z-index: 1;
}

nav div a span{
  font-size: 2rem;
}

.nav-item {
  padding: 0.5rem;
}

.navLink{
  text-decoration: none;
  color: #fff;
}

.card{
  border: none;
}

.services-bg {
  background-color:#e6e6e4;
}


@media (max-width: 1200px) {
  html{
    font-size: .9rem;;
  }
}
@media (max-width: 992px) {
  html{
    font-size: .8rem;;
  }
}
@media (max-width: 600px) {
  html{
    font-size: .7rem;;
  }
}